<div class="sidebar sidebar-dark sidebar-fixed sidebar-self-hiding-md base-green-1" id="sidebar">
    <div class="sidebar-brand d-lg-down-none">
      SIORI
      </div>
    <ul class="sidebar-nav flex-column" data-coreui="navigation">
        <li class="nav-item"><a href="/" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="/data" class="nav-link">Arsip Inaktif</a></li>
        <li class="nav-item"><a href="/data/musnah" class="nav-link">Musnah</a></li>
        <li class="nav-item"><a href="/data/permanen" class="nav-link">Permanen</a></li>
        <li class="nav-item"><a href="/data/ditinjau" class="nav-link">Ditinjau Kembali</a></li>
        <li class="nav-item"><a href="/pinjam" class="nav-link">Pinjam</a></li>
      </ul>
  </div>

<!-- Modal Area -->

  <div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
          <button class="btn btn-danger" type="button">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>