<div class="sidebar sidebar-dark sidebar-fixed sidebar-self-hiding-md" id="sidebar">
    <div class="sidebar-brand d-lg-down-none">
      SIORI
      </div>
    <ul class="sidebar-nav flex-column " data-coreui="navigation">
        <li class="nav-item"><a href="/" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a href="/data" class="nav-link">Inaktif</a></li>
        <li class="nav-item"><a href="/data/baru" class="nav-link">Tambah Data</a></li>
        <li class="nav-item"><a href="/pinjam" class="nav-link">Pinjam</a></li>
      </ul>
  </div>