</div>

<script>
    function hideShow () {
        let aside = document.querySelector('#aside')
        if(aside.classList.contains('hideSideBar')){
            aside.classList.remove('hideSideBar')
        } else {
            aside.classList.add('hideSideBar')
        }
    }
</script>
</body>
</html>