<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/generated.css">

    <!-- !Data Taables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <style>
        .hideSideBar{
            width: 0 !important;
            border: none;
            overflow: hidden;
            transition: all .5s ease;
        }

        .hideSideBar > *{
            display: none;
        }

        input[type=search]{
            background-color: rgba(102, 178, 178) !important;
            border: none;
            margin-bottom: 1rem;
        }
        input[type=search]:focus{
            outline: none;
        }

        thead{
            background-color: rgba(0, 76, 76) !important;
            color: white !important;
        }
        tbody tr:nth-child(odd){
            background-color: rgba(102, 178, 178,.2) !important;
        }
        tbody tr:nth-child(even){
            background-color: rgba(102, 178, 178,.4) !important;
        }
        td:nth-child(1){
            text-align: center !important;
        }
        td:nth-child(4){
            text-align: center !important;
        }
        #data_wrapper{
            margin-top: 2rem;
        }
        .current{
            background: rgba(102, 178, 178,.4) !important;
        }

        .hide-drop{
            height: 0;
            width:  0;
            padding: 0;
            overflow: hidden;
            transition: all 1s ease ;
        }
    </style>

</head>
<body class="flex text-white h-max">