<div class="flex-grow ">
    <nav class=" bg-green2 border-b-2 h-16 flex justify-between items-center px-7">
        <div class="flex gap-5">
            <button onclick="hideShow()" class="p-3 bg-green3 rounded-sm appearance-none outline-none focus:outline-none"></button>
            <h1><%= title %></h1>
        </div>
        <div onclick="showProfile()" class="flex items-center justify-center gap-4 cursor-pointer">
            <div class="p-4 bg-green3 rounded-full"></div>
            <h1 ><%= user.Username %> 
                <div class=" w-48 px-4 py-2 bg-green4 absolute top-14 right-7 flex flex-col gap-2 rounded-lg transition-all hide-drop" style="min-height: max-content; z-index: 100;" id="profile-dropdown">
                    <a href="/user"  class="bg-green4 hover:bg-green2 px-2 py-1 rounded-md text-center">Profile</a>
                    <a href="/authentication/keluar"  class="bg-green4 hover:bg-red-200 hover:text-red-900 px-2 py-1 rounded-md text-center">Keluar</a>
                </div>
            </h1>
        </div>
    </nav>

    <script>
        let profile = document.querySelector('#profile-dropdown')
        function showProfile(){
            profile.classList.toggle('hide-drop')
        }
    </script>