<%- include('./components/_header.ejs') %>  
<%- include('./components/_aside.ejs') %>  
<%- include('./components/_nav.ejs') %>  

<main class="min-h-screen bg-green1 p-7 text-green5 " >
    <div class=" w-full mt-5 border-l-4 border-green5 rounded-sm bg-green2 flex flex-col p-7 tracking-wider  justify-center gap-1" style="min-height: 3rem;">
        <h1 class="text-2xl">Selamat datang di <strong>SIORI</strong></h1>
    </div>
    <div class=" w-80 mt-5 h-36 border-l-4 border-green5 rounded-sm bg-green2 flex flex-col p-7 tracking-wider  justify-center gap-1">
        <p class="text-4xl font-extrabold">213</p>
        <h1 class="text-xl font-bold">Total Arsip</h1>
        <a href="/data" class="text-md hover:underline">Lihat detail</a>
    </div>
    </main>

<%- include('./components/_footer.ejs') %>  
