<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/generated.css">

    <style>
        .hideSideBar{
            width: 0 !important;
            border: none;
            overflow: hidden;
            transition: all .5s ease;
        }
        .hideSideBar > *{
            display: none;
        }        
    </style>
</head>
<body class="flex text-white h-max">
<div class="w-screen h-screen bg-cover flex items-center justify-center" style="background-image: url('/public/img/cover.JPEG'); background-position: 35%;">
    <div class="bg-green1 bg-opacity-90 mt-52 rounded-sm shadow-2xl" style="width: 30rem; min-height: max-content; box-shadow: 0 0 5px rgb(0, 76, 76);">
    <div class="px-7 py-5 tracking-wider text-green5">
        <h1 class="text-4xl font-bold" id="masuk_daftar">Masuk</h1>
        <div class="mt-4">
            <form action="" class="flex flex-col font-semibold text-lg tracking-wide" id="masuk">
                <label for="" class="">Nama Pengguna</label>
                <input type="text" class="bg-green2 rounded-sm px-3 py-2 appearance-none focus:outline-none focus:ring-2">
                <label for="" class="mt-2">Password</label>
                <input type="text" class="bg-green2 rounded-sm px-3 py-2 appearance-none focus:outline-none focus:ring-2">
                <div class="flex justify-between w-full mt-7 items-center">
                    <h2 class="text-md font-light italic">Belum punya akun? <a onclick="Daftar()" class="underline cursor-pointer">Daftar</a></h2>
                    <input type="submit" value="Masuk" class="px-10 py-2 rounded-md  bg-green2 font-bold tracking-wider cursor-pointer hover:bg-green3">
                </div>
            </form>
            <form action="" class="flex flex-col font-semibold text-lg tracking-wide hidden" id="daftar">
                <label for="" class="">Nama</label>
                <input type="text" class="bg-green2 rounded-sm px-3 py-2 appearance-none focus:outline-none focus:ring-2">
                <label for="" class="mt-2">Nama Pengguna</label>
                <input type="text" class="bg-green2 rounded-sm px-3 py-2 appearance-none focus:outline-none focus:ring-2">
                <label for="" class="mt-2">E-Mail</label>
                <input type="text" class="bg-green2 rounded-sm px-3 py-2 appearance-none focus:outline-none focus:ring-2">
                <label for="" class="mt-2">Password</label>
                <input type="text" class="bg-green2 rounded-sm px-3 py-2 appearance-none focus:outline-none focus:ring-2">
                <div class="flex justify-between w-full mt-7 items-center">
                    <h2 class="text-md font-light italic">Sudah punya akun? <a onclick="Masuk()" class="underline cursor-pointer">Masuk</a></h2>
                    <input type="submit" value="Daftar" class="px-10 py-2 rounded-md  bg-green2 font-bold tracking-wider cursor-pointer hover:bg-green3">
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script>
    let masuk_daftar = document.querySelector("#masuk_daftar")
    let masuk = document.querySelector('#masuk')
    let daftar = document.querySelector('#daftar')
    function Masuk(){
        masuk_daftar.innerHTML = "Masuk"
        daftar.classList.add('hidden')
        masuk.classList.remove('hidden')
    }
    function Daftar () {
        masuk_daftar.innerHTML = "Daftar"
        daftar.classList.remove('hidden')
        masuk.classList.add('hidden')
        
    }
</script>

</body>
</html>